<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-12 col-12 col-md-4 col-lg-3 my-2" *ngFor="let group of groups">
      <div class="card">
        <img src="/api/modules/lineup/group/image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{group['name']}}</h5>
          <button class="btn btn-primary mx-2" (click)="enter(group['uuid'])">ورود</button>
          <!--          <button class="btn btn-success" (click)="nav(group['joinLink'])">کپی لینک اشتراک</button>-->
          <button class="btn btn-success" >کپی لینک اشتراک</button>
        </div>
      </div>
    </div>
  </div>
</div>
