<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/common/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">خانه</a>
        </li>
        <ng-container *ngFor="let m of (menuService.menuSubject | async)">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbar-{{m.id}}"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{m.title}}
            </a>
            <ul class="dropdown-menu" [attr.aria-labelledby]="'navbar-' + m.id">
              <ng-container *ngFor="let s of m.children">
                <li>
                  <a class="dropdown-item"
                     [routerLink]="['/' + s.link]"
                     routerLinkActive="menu-active-link">{{s.title}}</a>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
      <form class="d-flex" *ngIf="(this.authService.authSubject | async).isLoggedIn">
        <a class="btn btn-outline-danger mx-1" (click)="authService.logout()">
          <img class="topbar-avatar" [src]="authService.$avatar() | async">
          <span class="mx-2">خروج</span>
        </a>
      </form>
      <form class="d-flex" *ngIf="!(this.authService.authSubject | async).isLoggedIn">
        <a class="btn btn-outline-success mx-1"
           [routerLink]="'/auth/login'"
           type="button">ورود به سیستم</a>
        <a class="btn btn-outline-warning mx-1"
           [routerLink]="'/auth/sign-in'"
           type="button">ثبت نام</a>
      </form>
    </div>
  </div>
</nav>
