<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-sm-12 col-md-6 p-5 m-5 border" *ngIf="id">
      <div class="d-grid">
        <button class="btn btn-success" (click)="getPublicLink(id)">Copy Link</button>
<!--        <button class="btn btn-success" [cdkCopyToClipboard]="sharedLink">Copy Link</button>-->
      </div>
    </div>
    <div class="col col-sm-12 col-md-4 col-lg-3" *ngIf="!id">
      <form class="row g-3" [formGroup]="form">
        <div class="col-12">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>نام گروه</mat-label>
            <input type="text" matInput
                   formControlName="name"
                   required style="padding-bottom: 4px !important;">
          </mat-form-field>
<!--          <label for="inputCity" class="form-label">نام گروه</label>-->
<!--          <input type="text" class="form-control" id="inputCity">-->
        </div>
        <div class="col-12 mt-0">
          <div class="d-grid">
            <button type="submit"
                    (click)="register()"
                    class="btn btn-success">ثبت</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
